<nav class="navbar is-white custom-navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="cowNavbarMenu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="cowNavbarMenu" class="navbar-menu">
        <div class="navbar-start">

            <a href="/perfil/{{user.id}}" class="navbar-item profile-item">
                <div class="user-avatar-mini">
                    {% if user.imag %}
                    <img src="{{user.imag}}" alt="User">
                    {% else %}
                    <i class="fas fa-user"></i>
                    {% endif %}
                </div>
                <span class="ml-2 has-text-weight-medium">Mi Perfil</span>
            </a>

            <a href="/" class="navbar-item logout-item">
                <span class="icon is-small left-icon">
                    <i class="fas fa-sign-out-alt"></i>
                </span>
                <span>Cerrar Sesión</span>
            </a>

        </div>
    </div>
</nav>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
        if ($navbarBurgers.length > 0) {
            $navbarBurgers.forEach(el => {
                el.addEventListener('click', () => {
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');
                });
            });
        }
    });
</script>