<nav class="navbar custom-navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <div class="navbar-user-profile">
            <figure class="image is-48x48">
                <img class="is-rounded" src="{{user.imag}}" alt="{{user.name}}">
            </figure>
            <div class="navbar-user-info">
                <p class="navbar-user-name">{{user.name}}</p>
                <p class="navbar-user-role">{{user.role}}</p>
            </div>
        </div>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-end">
            <a href="/perfil/{{user.id}}" class="navbar-item">
                <span class="icon">
                    <i class="fas fa-user"></i>
                </span>
                <span>Perfil</span>
            </a>
            <a href="/" class="navbar-item">
                <span class="icon">
                    <i class="fas fa-sign-out-alt"></i>
                </span>
                <span>Cerrar Sesión</span>
            </a>
        </div>
    </div>
</nav>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Add a click event on each of them
        $navbarBurgers.forEach(el => {
            el.addEventListener('click', () => {
                // Get the target from the "data-target" attribute
                const target = el.dataset.target;
                const $target = document.getElementById(target);

                // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                el.classList.toggle('is-active');
                $target.classList.toggle('is-active');
            });
        });
    });
</script>