{% include 'dashboard/header.html' %}

{% block head %}
<link rel="stylesheet" href="/static/css/tratamientos.css">
{% endblock %}


<section class="section">
    <div class="container">
        <h1 class="title has-text-centered is-3 mb-6">Tratamientos</h1>

        {% if tratamientos %}
        <div class="columns is-multiline">
            {% for tratamiento in tratamientos %}
            <div class="column is-one-third-desktop is-half-tablet">
                <div class="card">
                    <div class="card-image">
                        {%if tratamiento.imag%}
                        <figure class="image is-4by3">
                            <img src="" alt="Imagen Tratamiento">
                        </figure>
                        {%else%}
                        <figure class="image is-4by3">
                            <img src="https://placehold.co/600x400?text=Tratamiento" alt="Imagen Tratamiento">
                        </figure>
                        {%endif%}
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">{{ tratamiento.nombre_tratamiento }}</p>
                                <div class="tags">
                                    <span class="tag is-info">{{ tratamiento.estado }}</span>
                                </div>
                            </div>
                        </div>

                        <div class="content">
                            {% if user and user.role == 'Veterinario' %}
                            <p><strong>Tag ID Animal:</strong> {{ tratamiento.animal.tag_id if tratamiento.animal else
                                'N/A' }}</p>
                            {% else %}
                            <p><strong>Veterinario:</strong> {{ tratamiento.veterinario.name if tratamiento.veterinario
                                else 'Desconocido' }}</p>
                            {% endif %}

                            <p><strong>Fecha:</strong> {{ tratamiento.fecha_inicio }}</p>

                            <div class="mt-4">
                                <a href="/tratamientos/read/{{ tratamiento.id }}"
                                    class="button is-primary is-fullwidth is-outlined">
                                    Ver Detalles
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="notification is-info is-light has-text-centered">
            <p>No se encontraron tratamientos registrados.</p>
        </div>
        {% endif %}
    </div>
</section>

{% include 'dashboard/footer.html' %}