<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Cow App{% endblock %}</title>
    <link rel="icon" type="image/png" href="/static/images/cow_logo.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <style>
        body {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
        }

        .main-content {
            flex: 1;
        }

        .navbar-item.is-active {
            color: #485fc7;
            font-weight: bold;
        }
    </style>
    {% block head %}{% endblock %}
</head>

<body>
    <main class="main-content">
        <section class="section">
            <div class="container">
                {% block content %}{% endblock %}
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="content has-text-centered">
            <p><strong>Cow App</strong> - Gestión Ganadera
            <p>By: sebaslealestupinan@gmail.com</p>
            </p>
        </div>
    </footer>
    {% block scripts %}{% endblock %}
</body>

</html>